<div class="products-container">
    <div class="product">
      <img [src]="products[0].img" alt="{{ products[0].name }}">
      <h3>{{ products[0].name }}</h3>
    </div>


    <div class="product">
      <img [src]="products[1].img" alt="{{ products[1].name }}">
      <h3>{{ products[1].name }}</h3>
    </div>


    <div class="product">
      <img [src]="products[2].img" alt="{{ products[2].name }}">
      <h3>{{ products[2].name }}</h3>
    </div>


    <div class="product">
      <img [src]="products[3].img" alt="{{ products[3].name }}">
      <h3>{{ products[3].name }}</h3>
    </div>


    <div class="product">
      <img [src]="products[4].img" alt="{{ products[4].name }}">
      <h3>{{ products[4].name }}</h3>
    </div>

    
    <div class="product">
      <img [src]="products[5].img" alt="{{ products[5].name }}">
      <h3>{{ products[5].name }}</h3>
    </div>


    <div class="product">
      <img [src]="products[6].img" alt="{{ products[6].name }}">
      <h3>{{ products[6].name }}</h3>
      <ul>
        <li>{{ products[6].list_text[0] }}</li>
        <li>{{ products[6].list_text[1] }}</li>
        <li>{{ products[6].list_text[2] }}</li>
        <li>{{ products[6].list_text[3] }}</li>
        <li>{{ products[6].list_text[4] }}</li>
        <li>{{ products[6].list_text[5] }}</li>
        <li>{{ products[6].list_text[6] }}</li>
        <li>{{ products[6].list_text[7] }}</li>
      </ul>
    </div>

    
    <div class="product">
      <img [src]="products[7].img" alt="{{ products[7].name }}">
      <h3>{{ products[7].name }}</h3>
      <ul>
        <li>{{ products[7].list_text[0] }}</li>
        <li>{{ products[7].list_text[1] }}</li>
        <li>{{ products[7].list_text[2] }}</li>
        <li>{{ products[7].list_text[3] }}</li>
        <li>{{ products[7].list_text[4] }}</li>
        <li>{{ products[7].list_text[5] }}</li>
      </ul>
    </div>


    <div class="product">
      <img [src]="products[8].img" alt="{{ products[8].name }}">
      <h3>{{ products[8].name }}</h3>
      <ul>
        <li>{{ products[8].list_text[0] }}</li>
        <li>{{ products[8].list_text[1] }}</li>
        <li>{{ products[8].list_text[2] }}</li>
        <li>{{ products[8].list_text[3] }}</li>
        <li>{{ products[8].list_text[4] }}</li>
        <li>{{ products[8].list_text[5] }}</li>
        <li>{{ products[8].list_text[6] }}</li>
        <li>{{ products[8].list_text[7] }}</li>
      </ul>
    </div>


    <div class="product">
      <img [src]="products[9].img" alt="{{ products[9].name }}">
      <h3>{{ products[9].name }}</h3>
      <ul>
        <li>{{ products[9].list_text[0] }}</li>
        <li>{{ products[9].list_text[1] }}</li>
        <li>{{ products[9].list_text[2] }}</li>
        <li>{{ products[9].list_text[3] }}</li>
        <li>{{ products[9].list_text[4] }}</li>
      </ul>
    </div>


    <div class="product">
      <img [src]="products[10].img" alt="{{ products[10].name }}">
      <h3>{{ products[10].name }}</h3>
      <ul>
        <li>{{ products[10].list_text[0] }}</li>
        <li>{{ products[10].list_text[1] }}</li>
        <li>{{ products[10].list_text[2] }}</li>
        <li>{{ products[10].list_text[3] }}</li>
        <li>{{ products[10].list_text[4] }}</li>
        <li>{{ products[10].list_text[5] }}</li>
        <li>{{ products[10].list_text[6] }}</li>
        <li>{{ products[10].list_text[7] }}</li>
      </ul>
    </div>


    <div class="product">
      <img [src]="products[11].img" alt="{{ products[11].name }}">
      <h3>{{ products[11].name }}</h3>
      <ul>
        <li>{{ products[11].list_text[0] }}</li>
        <li>{{ products[11].list_text[1] }}</li>
        <li>{{ products[11].list_text[2] }}</li>
        <li>{{ products[11].list_text[3] }}</li>
      </ul>
    </div>
    
  </div>


  
  