<h2>Структурная Директива ngSwitch</h2>
<!--
    ngSwitch - директива используется для того чтобы отобразить один элемент ( и его дочерние элементы)
    из набора возможных элементов.
    При использовании директив ngSwitchCase и ngSwitchDefault обязательно нужно использовать ( * )
    Можно использовать любой тип данных при установке значения в ngSwitchCase
-->
<button (click)="plus()">Нажать</button>
<hr>
<div [ngSwitch]="counter">
    <div *ngSwitchCase="1">
        Первый див елемент
    </div>
    <div *ngSwitchCase="2">
        Второй див елемент
    </div>
    <div *ngSwitchCase="3">
        Третий див елемент
    </div>
    <div *ngSwitchDefault>
        Дефолтный див елемент
    </div>
</div>