.grid {
    display: grid;
    grid-template-columns: 100px 200px 300px;
    grid-template-rows: 50px 150px 100px;
    padding: 20px;
    background-color: #0d233d;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.grid div {
    padding: 0.3em;
    border-radius: 3px;
    background-color: #482880;
    color: #ffffff;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
}

.grid div:nth-child(odd) {
    background-color: #1769aa;
}