* {margin: 0;}

body 
{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #1f211f;
    margin: 20px;
    font-family: monospace;
}



#container
{
    background-color: #414f4465;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 50%;
}



h1,h2
{
    color: green;
    text-align:center;
}


dl li 
{
    list-style-type: none;
    font-weight: bold;
    font-size: large;
}
dl>li>dl>li 
{
    font-weight:normal;
    padding-left: 50px;
}















/* ol li:nth-child(add)
{
    color: #963838;
} */

/* ol li:hover
{
    background-color: aqua;
    color: #ba6c6c;
} */ 