.grid {
    display: grid;
    grid-template-columns: [col] auto [col] auto [col] auto;
    grid-template-rows: [row] auto [row] auto [row] auto;
    grid-gap: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #0d233d;
    font-family: Arial, Helvetica, sans-serif;
}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    border-radius: 3px;
    background-color: #482880;
    color: #ffffff;
    font-size: 130%;
    font-weight: bold;
}

.item-1 {
    grid-column: col 1;
    grid-row: row / span 3;
}

.item-2 {
    grid-column: col 2;
    grid-row: row 1;
}

.item-3 {
    grid-column: col 3;
    grid-row: row 1;
}

.item-4 {
    grid-column: col 2 / span 2;
    grid-row: row 2;
}

.item-5 {
    grid-column: col 2;
    grid-row: row 3;
}

.item-6 {
    grid-column: col 3;
    grid-row: row 3;
}

.grid div:nth-child(odd) {
    background-color: #1769aa;
}