<h2>Структурная Директива ngIf</h2>
<!-- *ngIf - удаляет элемент и его дочерние элементы из дерева DOM если выражение false, 
     иначе, элемент div будет добавлен в разметку-->
<!-- <button (click)="flagToggle = !flagToggle">Click</button> -->
<label>
    <input type="checkbox" (change)="flagToggle = !flagToggle">
    Поменять состояние флага flagToggle
</label>
<hr>
<!-- Нет в разметке при false -->
<div *ngIf="flagToggle">Когда flagToggle TRUE</div>
<div *ngIf="!flagToggle">Когда flagToggle FALSE</div>
<!-- Есть в разметке при false, просто не видно на екране -->
<div [style.display]="flagToggle ? 'block' : 'none'">
    Блок скрывается только вызуально, в разметке он остается
</div>
<br>
<br>
<br>
<label>
    <input type="checkbox" [disabled]="!elseLoading" (change)="changeMethod()">
    Поменять состояние флага elseLoading
</label>
<hr>
<div *ngIf="elseLoading; else templateLoad">
    Состояние TRUE
</div>
<ng-template #templateLoad>
    Загрузка пока elseLoading FALSE
</ng-template>
<p>Пример then</p>
<div *ngIf="elseLoading; then templateLoadFinish else templateLoad">
    Текст не будет виден!
</div>
<ng-template #templateLoadFinish>
    Состояние TRUE <br> <b>#templateLoadFinish</b>
</ng-template>
<ng-template #templateLoad>
    Загрузка пока elseLoading FALSE
</ng-template>
<!-- ng-template директива инструмент Angular шаблона и содержимое этого тега будет содержать часть шаблона, 
    которую затем может быть использовано вместе с другими шаблонами для формирования окончательного шаблона 
    компонента. -->