.blocks{
    display: flex;
    justify-content: space-around;
}

.blocks div{
    width: 150px;
    height: 100px;
    background: #ddd;
    text-align: center;
    font-size: 30px;
}

.blocks .bg{
    background: lightgreen;
}

.myborder{
    border: 3px solid green;
}