/*обратимся ко всем элементам, чтобы убрать отступы, которые назначит браузер по умолчанию*/
*{
    padding: 0;
    margin: 0;
}
/*для основного контейнера будем использовать фиксировано-резиновую верстку*/
.container{
    /*устанавливаем основную ширину равной ширине видимой части окна браузера*/
    width: 100vw;
    /*устанавливаем минимальную ширину, до которой можно сжимать контейнер, если ширина устройства будет меньше - появится горизонтальный скролл*/
    min-width: 320px;
    /*устанавливаем максимальную ширину, до которой можно расширять контейнер, если ширина устройства будет больше - по бокам появятся отступы*/
    max-width: 100vw;
    /*для того, чтобы контейнер находился всегда по центру по горизонтали указываем значения для внешних отступов*/
    margin: auto;
    /*в случае, если контента будет мало, чтобы страница полностью заполнила всю высоту окна браузера, устанавливаем минимальную высоту*/
    min-height: 100vh;
    /*в случае, если контента будет много, чтобы появился вертикальный скролл, устанавливаем значение высоты равной содержимому*/
    height: auto;
    /*для более простого расположения элементов на странице, воспользуемся технологией flexBox*/
    display: flex;
    /*направление основной оси меняем на вертикальное*/
    flex-direction: column;
}
/*каждому элементу контейнера будем устанавливать фоновой цвет, чтобы было нагляднее*/
header{
    background-color: pink;
    /*зададим размер header по основной оси*/
    flex-basis: 10vh;
}
/*main - основной элемент страницы является одновременно и flex-родителем и flex-контейнером*/
main{
    /*чтобы заполнять все пространство по основной оси основным элементом прописываем свойство flex */
    flex: 1 1 auto;
    display: flex;
}

main>section{
    background-color: coral;
    /*чтобы заполнять все пространство по основной оси основным элементом прописываем свойство flex */
    flex: 1 1 auto;
}
main>section+aside{
    background-color: lime;
    /*зададим размер левой части по основной оси в процентах*/
    flex-basis: 30%;
}
footer{
    background-color: gray;
    /*зададим размер footer по основной оси*/
    flex-basis: 5vh;
}

/*запрос для экранов с максимальной шириной 960px и меньше*/
/*запрос для экранов с максимальной шириной 960px и меньше*/
@media screen and (max-width:960px){
    main>section+aside{
        /*спрячем правый элемент на всех устройствах, с шириной 960px и меньше*/
        /* display: none; */
        flex-basis: 30%;
    }
    main>section{
        /*зададим размер центральной части по основной оси в процентах*/
        flex-basis: 70%;
    }
}
/*запрос для экранов с максимальной шириной 570px и меньше*/
@media screen and (max-width:570px){
    main{
        /*меняем направление основной оси элемента отображающего основной контент*/
        flex-direction: column;
    }
    main>section+aside{
        /*зададим размер видимому элементу aside по основной оси*/
        flex-basis: 20vh;
    }
    main>section{
        /*зададим размер основному контенту по основной оси*/
        flex-basis: auto;
        /*изменим порядок отображения элементов так, чтобы контент находился выше*/
        order:-1;
    }    
}

