html,
body {
  /* height: 100%; */
  font-family: sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 40px;
  background-color: rgb(13, 17, 23);
  color: white;
}


.container-forma
{
  border: 1px solid rgba(89, 89, 89, 0.331);
  background-color: rgb(22, 27, 34);
  border-radius: 5px;
  padding: 16px;
}
.form-signin {
  margin-top: 0px;
  /* width: 100%; */
  min-width: 400px;
  max-width: 30px;
  /* padding: 0px;
  margin: auto; */
}

p
{
  padding: 0px; 
  margin: 0px;
}

.form-signin .checkbox {
  font-weight: 400;



}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] 
{
  background-color:rgb(14, 15, 22);
  height: 32px;
  width: 280px;

  padding-bottom: 5px; padding-top: 5px;
  padding-right: 12px; padding-left: 12px;

  margin-bottom: 16px;
  margin-top: 4px;

  border-radius: 5px;
  border: 1px solid rgba(80, 80, 80, 0.367);

  background-color: rgb(13, 17, 23);

/* 
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
}


.form-signin input[type="password"] 
{
  background-color:rgb(14, 15, 22);
  height: 32px;
  width: 280px;

  padding-bottom: 5px; padding-top: 5px;
  padding-right: 12px; padding-left: 12px;

  /* margin-bottom: 16px; */
  margin-top: 4px;

  border-radius: 5px;
  border: 1px solid rgba(80, 80, 80, 0.367);

  background-color: rgb(13, 17, 23);
}

a
{
  color: rgb(74, 119, 255);
  text-decoration: none;
}

button
{
  background-color: rgb(35, 134, 54);
  border: none;
  border-radius: 5px;
  height: 32px;
}
button:hover
{
  background-color: rgb(44, 166, 68);
}


.foot-dlock
{
  margin-top: 16px;
  padding: 16px;
  border: 1px solid rgba(80, 80, 80, 0.367);
  border-radius: 5px;

}

footer
{
  margin: 40px;
  margin-top: 80px;
  padding: 0px;
}
.footer_text
{
    float: left;
    font-size: 12px;
    text-align: center;
    /* margin: 10px; */
    padding-left: 12px;
    /* margin-left: 20px; */
    list-style-type: none;
    
}