html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0e1218;
  color: white;
}

.form-signin {
  /* width: 100%; */
  min-width: 400px;
  max-width: 330px;
  /* padding: 0px;
  margin: auto; */
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] 
{
  background-color:rgb(13, 15, 26);
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] 
{
  background-color:rgb(13, 15, 26);
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
