
main
{
    margin-left: 0%;
    margin-right: 0%;
    
}





.block 
{
    display: flex;
    justify-content: space-between;
    /* width: 312px; */
    height: 20vh;
    width: 24%; /*фигня*/

    font-size: 13px;

    border: 1px solid #000;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;

    margin: 10px;
    padding: 25px;
    padding-top: 20px;
    position: relative;
    
}


.container
{
    width: 90%; 

    /* display: flex; */
   
    justify-content: center;

    padding-top: 10px;
    margin-left: 8%;
    margin-right: 5%; 
}



.for-cards
{
    width: 100%;
}
.for-img > img
{
    width: 35px;
    padding: 5px;
    margin-top: 0px;
    background-color: rgb(57, 74, 100);
    border-radius: 50%;
}

.for-block-head 
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    margin-bottom: 10px;

    /* background-color: aqua; */
}
.textTop
{
    font-size: 16px;
}

.textAdd
{
 opacity: 60%;
}
.textBottom
{
    height: auto; 
    width: 100%;
    /* background-color: aqua; */
    overflow: hidden; 

    opacity: 60%;
    

}
.bottomLink 
{
    position: absolute;
    bottom: 20px;
    left: 25px;

    background-color:  rgba(79, 79, 79, 0.34);
    border: 1px solid rgba(240, 246, 252, 0.20);
    border-radius: 5px;
    padding: 6px 16px 6px;
    color: white;
    text-decoration: none;

}

.header-text-before-cards
{
    margin-left: 1%;
    margin-bottom: 1%;
    margin-right: 5%;
}

.header-text-before-cards > h2
{
    font-size: 32px;
    font-weight:600;
}

.header-text-before-cards > p
{
    font-size: 14px;
    margin-top: 8px;
    opacity: 60%;
}
.header-text-before-cards > p + p
{
    margin-top: 10px;
}

.header-text-before-cards > p + p > span
{
    color: rgb(0, 106, 255);
}


.header-text-before-cards > form > input
{
    background-color: rgba(210, 105, 30, 0);
    border-color: rgba(210, 105, 30, 0);
    margin-left: 5px;
}
.header-text-before-cards > form
{
    margin-top: 30px;
    width: 250px;
    margin-bottom: 40px;
}
.header-text-before-cards > span
{
    font-size: 20px;
}




.footer_block
{
    padding-top: 5vh;
    margin-top: 25vh;
    padding-bottom: 8vh;
}
@media screen and (max-width: 1500px) 
{
    main
    {
        /* margin-left: 5%; */
        margin-right: 0%;
    }
}


@media screen and (max-width: 1100px) 
{
    .container
    {
        /* margin-left: 5%; */
        margin-left: 3%;
        margin-right: 0%;

        width: 97%;

    }
    .header-text-before-cards
    {
        margin-left: 1%;
    }
}


@media screen and (max-width: 838px) 
{
    .container
    {
        /* margin-left: 5%; */
        margin-left: 3%;
        margin-right: 5%;

        width: 97%;
    }

    .block
    {
        width: 85%;
        
    }

    .footer_block
    {
        margin-top: 160vh;
        padding-bottom: 20vh;
        /* background-color: aqua; */
    }
}

