
main
{
    margin-left: 0%;
    margin-right: 0%;
}



.for-img > img
{
    width: 35px;
    padding: 5px;
    margin-top: 0px;
    background-color: rgb(57, 74, 100);
    border-radius: 50%;
    /* border: 1px solid aqua; */
}

.block 
{
    display: flex;
    justify-content: space-between;
    /* width: 312px; */
    height: 200px;
    width: 24%; /*фигня*/

    border: 1px solid #000;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;

    margin: 5px;
    padding: 25px;
    padding-top: 20px;
    position: relative;
}


.container
{
    width: 90%; /*77*/
    /* justify-content: space-between; */
    margin-left: 5%;
    margin-right: 5%;

    padding-left: 2%;
    padding-right: 2%;
    
}

.for-cards
{
    width: 100%;
    /* padding-left: 2.5%;  */

    
    
}

.for-block-head 
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    margin-bottom: 10px;
    /* height: 50px; */
}

/* .for-block-head img 
{
    display: flex;
    max-width: 100%;
    height: auto;
} */

/* .text 
{
    flex: 0 0 50%;
    margin-top: 10px;
} */
.textBottom
{
    height: auto; 
    width: 80%;
    background-color: aqua;
    overflow: hidden; 
}

/* .text
{
    background-color: aqua;
    margin-bottom: 20px;
} */

.bottomLink 
{
    position: absolute;
    bottom: 20px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    background-color: #81818160;
    border: 2px solid rgba(69, 69, 69, 0.249);
    border-radius: 5px;
    padding: 2px 12px 4px;
    color: white;
    text-decoration: none;
}





/* 
@media screen and (max-width:900px)
{
    footer
    {
        bottom: 0;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        margin-left: 0px;
        
        justify-content: center;

    }
    .footer_block
    {

        margin: 0px 0px 0px 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0px;
        padding: 0px;
        margin-top: 80%;
    }

    .footer-list
    {
        margin-top: 30%;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    ul{ order:-1; }
} */







@media screen and (max-width: 1500px) 
{
    main
    {
        /* margin-left: 5%; */
        margin-right: 0%;
    }
}
