


.main-block
{
    flex: 1 1 auto;
 
   
    align-items: flex-start;
    text-align: center;
    margin-right: 10% ;
}  

.widg-nav
{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


    /* padding: 10px 15px 2px; */
}

.sms-block
{
    padding: 80px 14px 80px;

    border: 1px solid rgba(22, 27, 34, 0.429);
    border-radius: 5px;
    
}
.sms-block>span
{
    margin-top: 2%;
    opacity: 0.7;
    font-size: 15px;
    font-weight: 100;
}
.sms-block>span>p
{
    margin-bottom: 5px;
}
.create
{
   color: rgb(60, 135, 255);
   text-decoration: none;
   font-weight: 500;
}
.create:hover
{
    text-decoration: underline;
}

.sms-block>h2
{
    margin-top: 2%;
    font-weight:600;
}
.form-ser
{
    /* flex: 0 0 60%; */
    /* margin-top: 1%; */
    /* width: 70%;
    margin-bottom: 2%; */
/*    
    margin-right: 200%; */
    background-color: rgba(0, 0, 0, 0.329);
}
.form-ser input[type="text"] 
{
    height: 30px;
    width: 340px;
    margin-left: 0px;
    padding-left: 20px;
    border: 0px solid #ccc;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
}
.add-sms
{
    margin-top: 5%;
}

.ProTip
{
    font-weight: 600;
}
.more-info
{
    font-size: 14px;
    opacity: 0.8;
}

.widget
{
    
    height: 45px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    align-items: flex-start;
    align-items: center;
}

.widg-labels
{
    border: 1px solid rgba(22, 27, 34, 0.429);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 600;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 10px;
}
.widg-milestones
{
    border: 1px solid rgba(22, 27, 34, 0.429);
    padding: 5px;
    padding-right: 20px;
    padding-left: 10px;
    margin-right: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.widg-button
{
    background-color: rgb(35, 134, 54);
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 5px;
    border-radius: 5px;
}

.widg-button:hover
{
  background-color: rgb(44, 166, 68);
}



@media screen and (max-width: 1000px) 
{

    form input+button+div
    {
        display: none;
    }
    form input+button
    {
        display: none;
    }
    .form-ser
    {
        margin: 0px;
        padding: 0px;

        height: 28px;
        width: 25px;
        display: flex;
 
        padding: 2px 4px 1px 2px; 
        
    }
    .form-ser input
    {

        display: none;
    }
}