* 
{
    margin: 0px;
    padding: 0px;
}

body, html
{
    font-family:Arial, Helvetica, sans-serif;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color: rgb(13, 17, 23);
}



/* font-family: monospace;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;*/


 
header 
{ 
    background-color: rgb(4, 4, 8); 
    width: auto; 
    height: 42px; 
    padding-left: 15px; 
    padding-top: 10px; 
    margin: 0px; 
     
} 
 
.img-header 
{ 
    width: 43px; 
    height: 43px; 
    display: flex; 
 
    align-items: center; 
    margin-right: 6px; 
} 
 
.for-imgH  
{  
    width: 250px; 
 
    display: flex; 
    /* align-content: center; 
    justify-content: center; */ 
    /* background-color: aqua;  */ 
 
    font-family:inherit ; 
    font-size: 12px; 
} 
.header_text_block 
{ 
    float: left; 
    font-size: 12px; 
    text-align: center; 
 
    list-style-type: none; 
} 
 
.text-and-imgH 
{ 
    float: left; 
    padding-top: 12px; 
 
    /* margin-left: 20px; */ 
    /* padding-left: 2px; */ 
 
    font-size: 14px; 
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    text-align: center; 
 
    list-style-type: none; 
} 

span
{
    margin-left: 4px;
}
 
.burger 
{ 
    width: 20px; 
    height: 20px; 
    /* background-color: aqua; */ 
    border: 2px solid #25286598; 
    border-radius: 20%; 
    padding: 5px; 
   
    margin-right: 10px; 
    margin-top: 5px; 
    font-size: 15px; 
    font-weight:bold; 
    /* color:  #25286598; */ 
} 
 




nav
{
    background-color: rgb(4, 4, 8);
    width: auto;
    height: 50px; 
}

.nav_text
{
    float: left;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 35px;
    /* margin-top: 4px; */
    padding: 5px;
    /* padding-bottom: 2px; */

    /* padding: 5px; */
    list-style-type: none;
    
}
.nav_block
{
    padding-top: 12px;
    margin-left: 0px;
    
    
}
/* .nav_text:hover 
{
    background-color: #73737339;
    border-radius: 10px;
}
.aclassN
{
    color: rgba(255, 255, 255, 0.661);
    text-decoration: none;
}
.aclassN:hover
{
    color: rgb(255, 255, 255);
}

.highlightH
{
    width: auto;
    height: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    background-color: chocolate;
} */



.nav_block {
    position: relative; /* Make the parent position relative */
}

.nav_text {
    position: relative; /* Ensure the li position is relative */
}

.nav_text:hover
{
    border-radius: 5px;
    background-color: #73737339;
}

.highlightH {
    position: absolute; /* Position the underline absolutely */
    bottom: -10px; /* Adjust this value to control the distance between text and underline */
    left: 0;
    width: 100%; /* Stretch the underline across the width */
    height: 2px;
    background-color: rgb(247, 129, 102);
    display: none; /* Initially hide the underline */
}

.nav_text .highlightH {
    display: block; 
}

.aclassN {
    color: rgba(255, 255, 255, 0.661);
    text-decoration: none;
}

.aclassN:hover {
    color: rgb(255, 255, 255);
}




main 
{
    position: relative; 
    width: 100%;
    /* margin-left: 32%; */
    margin-right: 22%;
    padding: 0%;

    /* background-color: aqua; */

}

section 
{
    margin-left: 9%;
    margin-right: 9%; 
    padding: 0px;

    /* width: 70%; */
    /* width: 80%; */
    background-color: #1519240e;
}

.sect-issues
{
    margin-top: 75px;
    width: 100%;
    height: 210px;
    border: 1px solid rgba(22, 34, 77, 0.557);
    border-radius: 8px;
    
    padding-top: 120px;
    align-items: center;

    text-align: center;

}

.p-issues
{
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

.public
{

    width: 40px;
    height: 15px;


    margin-top: 2px;
    padding-top: 2px;
    margin-left: 10px;

    border: 2px solid #25286598;
    border-radius: 15%;


    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    text-align: center;

    color: #25286598;
    font-size: x-small;
}

.name-option
{
    margin-top: 20px;
    margin-left: 40px;
}


aside 
{

    position: absolute;
    top: 1;
    right: 0;
    width: 21%; 
    height: 450px;
    /* background-color: #2d304658; */
    margin-right: 130px;
    /* padding-top: 10px;
    padding-left: 10px; */

}
.aside-text
{
    padding-top: 35px;
    padding-left: 5px;
    font-size: 16px;
}


footer
{
    position: absolute;
    bottom: 0;

    width: 100%; 
    height: 95px;
    /* background-color: #2d304658; */

    /* display: flex;
    align-content: center;
    justify-content: center; */

    padding-bottom: 20px;
}
.footer_text
{
    float: left;
    font-size: 12px;
    text-align: center;
    /* margin: 10px; */
    padding-left: 40px;
    /* margin-left: 20px; */
    list-style-type: none;
    
}
.footer_block
{
    margin-top: 35px;
    margin-left: 72px;
    
}



h1,h2,h3
{
    /* float: left; */
    margin-top: 0px;
    /* margin-left: 150px; */
    /* padding: 15px; */
    font-style: normal;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

    /* font-family:monospace; */
    font-size: 20px;
}

p
{
    padding-top: 10px;
    padding-left: 5px;
}

hr
{
    border-color: #171c2429;
}
.hrfooter
{
    margin: 0;
    margin-left: 115px;
    margin-right: 130px;
     
    /* width: 1250px;*/
}



/* .asi1
{
    position: absolute;
    top: 1;
    right: 0;
    width: 20%; 
    height: 500px;
    background-color: #2d304658; 
}
.asi2
{
    position: absolute;
    top: 1;
    left: 0;
    width: 30%; 
    height: 200px;
    background-color: #2d304658; 
}
.asi3
{
    position: absolute;
    left: 0;
    width: 30%; 
    margin-top: 210px;
    height: 300px;
    background-color: #2d304658; 
}
 */










.thumbnails 
{
    display: flex;
    margin: 0px;
    padding: 20px;
}


.thumbnail 
{
    width: 100px;
    height: 20px;
    display: flex;
    padding: 20px;
    align-items: center;
}



img
{
    width: 33px;
    height: 33px;
    /* padding-top: 1px; */
    
    align-items: center;
}
.for-img 
{ 
    opacity: 0.4;
    width: 165px;

    display: flex;
    border-color: aqua;

    font-family:inherit ;
    font-size: 12px;
}

.aclass
{
    color: rgb(74, 119, 255);
    text-decoration: none;
}

.aclass:hover
{
    text-decoration:underline;
}
 