* 
{
    margin: 0px;
    padding: 0px;
}

.container-full
{
    /*устанавливаем основную ширину равной ширине видимой части окна браузера*/
    width: 100vw;
    /*устанавливаем минимальную ширину, до которой можно сжимать контейнер, если ширина устройства будет меньше - появится горизонтальный скролл*/
    min-width: 500px;
    /*устанавливаем максимальную ширину, до которой можно расширять контейнер, если ширина устройства будет больше - по бокам появятся отступы*/
    max-width: 100%;
    /*для того, чтобы контейнер находился всегда по центру по горизонтали указываем значения для внешних отступов*/
    margin: auto;
    /*в случае, если контента будет мало, чтобы страница полностью заполнила всю высоту окна браузера, устанавливаем минимальную высоту*/
    min-height: 10vh;
    /*в случае, если контента будет много, чтобы появился вертикальный скролл, устанавливаем значение высоты равной содержимому*/
    height: auto;
    /*для более простого расположения элементов на странице, воспользуемся технологией flexBox*/
    display: flex;
    /*направление основной оси меняем на вертикальное*/
    flex-direction: column;
}


html
{
    font-size: 16px;
    background-color: rgb(13, 17, 23);
}

body
{
    font-size: 1rem;

    font-family:Arial, Helvetica, sans-serif;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    
}

header 
{ 
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


    flex-basis: 5vh;

    height: 45px;

    padding: 10px 15px 2px;
    /* padding-bottom: 0; */
    background-color: rgb(4, 8, 5);
} 
.left-text-header
{
    flex: 0 0 40%; /**!!!!!!!!!!!!!*/
    /* background-color: rgba(0, 255, 255, 0.156); */

}
.header_text_block 
{ 
    float: left; 
    font-size: 12px; 
    text-align: center; 
 
    list-style-type: none;
} 
span{ margin-left: 4px; }
.text-and-imgH 
{ 
    float: left; 
    padding-top: 12px; 

    font-size: 14px; 
    text-align: center; 
 
    list-style-type: none; 
} 

.burger 
{ 
    width: 31px; 
    height: 31px; 
    /* background-color: aqua; */ 
    border: 1px solid #25286598; 
    border-radius: 20%; 
    margin-top: 5px;
    margin-right: 10px;
    font-size: 15px; 
} 

.img-header 
{ 
    width: 43px; 
    height: 43px; 
    display: flex; 
 
    align-items: center; 
    margin-right: 3px; 
} 
.for-imgH  
{  
    width: 250px; 
 
    display: flex;  
    font-family:inherit; 
    font-size: 12px; 
} 



.search-form 
{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;

 
}

form 
{
    height: 28px;
    width: 335.2px;
    display: flex;
    align-items: center;

    padding: 2px 8px 1px 1px;
    

    /* background-color: aqua; */
    border: 1px solid rgba(32, 54, 76, 0.745);
    border-radius: 5px;
}
.search-form input[type="text"] 
{
    height: 21px;
    width: 309px;
    margin-left: 5px;
    border: 0px solid #ccc;
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 4px;
}
.search-form button 
{
    background: none;
    border: none;
    cursor: pointer;
}

.add
{
    height: 25px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3px;
    margin-right: 8px;

    border: 1px solid rgba(32, 54, 76, 0.745);
    border-radius: 5px;
}
.icons-header
{
    height: 31px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 7px;
    margin-right: 8px;

    border: 1px solid rgba(32, 54, 76, 0.745);
    border-radius: 5px;
}

.icons-header-last
{
    height: 31px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 3.5px;
    padding-right: 3.5px;
    margin-right: 8px;

    border: 1px solid rgba(32, 54, 76, 0.745);
    border-radius: 5px;
}





 

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
nav
{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: rgb(4, 4, 8);
    border-bottom: 1.6px solid rgba(29, 43, 62, 0.349);
    margin-left: 0px;

    height: 45px; 

    white-space: nowrap; 
}
.nav_text
{
    position: relative; /* Ensure the li position is relative */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

    float: left;
    font-size: 14px;
    text-align: center;

    margin-left: 13.5px;
    margin-bottom: 0px;

    padding: 5px;

    list-style-type: none;

    
}
.nav_text:hover
{
    border-radius: 5px;
    background-color: #73737339;
}
.nav_text .highlightH{ display: block; }
.nav_block
{
    position: relative;
    padding-top: 0px;
    margin-left: 2px; 
}
.img-nav
{
    height: 16px; 
    width: 16px; 
    padding-right: 8px; 
    opacity: 0.67;
}
.highlightH 
{
    position: absolute; 
    bottom: -9px; 
    left: 0;
    width: 100%; 
    height: 1.6px;
    border-radius: 10px;
    background-color: rgb(247, 129, 102);
    display: none; 
}




.aclassN {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 1.5px;
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.name-item
{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nameR
{
    flex: 0 0 60%;
    /* flex-basis: 5vh; */
    display: flex;

   
}

.buttons-actions
{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
}



main 
{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2vh;

    margin-left: 9%;
    margin-right: 10%;

}

section 
{
    flex: 0 0 75%; /**!!!!!!!!!!!!!*/
    padding: 0px;
    margin-right: 1%;
}

.sect-issues
{
    margin-top: 75px;
    width: 100%;
    height: 210px;
    border: 1px solid rgba(22, 34, 77, 0.557);
    border-radius: 8px;
    
    padding-top: 120px;
    align-items: center;

    text-align: center;

}
.p-issues
{
    margin-top: 20px;
    align-items: center;
    text-align: center;
}
.public
{
    width: 45px;
    height: 15px;

    margin-top: 2px;
    padding: 1px;
    margin-left: 10px;

    border: 2px solid #25286598;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    text-align: center;

    color: #25286598;
    font-size: 12px;
}
.name-option
{
    display: flex; 
    justify-content: center; 
    align-items: center; 

    margin-top: 18px;

}
.option-text
{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

    margin-bottom: 15px;
}







aside
{
    padding: 2%;
    margin-bottom: 2%;
}




.left-block {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(110, 118, 129, 0.4);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.7s;
    pointer-events: none;
}

.left-block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba(32, 54, 76, 0.745);
    background-color:rgb(22, 27, 34);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

#toggleLeft:checked ~ .left-block {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

#toggleLeft {
    display: none;
}

label {
    cursor: pointer;
}

.close-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.right-block {
    display: none;
    position: fixed;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(110, 118, 129, 0.4);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.7s;
    pointer-events: none;
}

.right-block::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgba(32, 54, 76, 0.745);
    background-color:rgb(22, 27, 34);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

#toggleRight:checked ~ .right-block {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

#toggleRight {
    display: none;
}

label {
    cursor: pointer;
}

.close-label {
    position: absolute;
    top: 0;
    right: 0;
    /* padding-left: 80%; */
    width: 100%;
    height: 100%;
}













/*запрос для экранов с максимальной шириной 960px и меньше*/
@media screen and (max-width:960px){

    main>section+div>aside+div>aside{
        /*зададим размер левой части по основной оси в процентах*/
        flex-basis: 20%;

    }
    main>section+div
    {
        margin-left: 2%;
        margin-right: 2%;
    }

    main>section{
        /*зададим размер центральной части по основной оси в процентах*/
        flex-basis: 70%;
        margin-left: 2%;
    }
}

/*запрос для экранов с максимальной шириной 570px и меньше*/
@media screen and (max-width:700px)
{
    header
    {
        flex-basis: auto;
    }
    main
    {
        flex-direction: column;
    }
    aside
    {
        margin-top: 10%;
    }
    section+div
    {
        flex-basis: 15vh;
        margin-left: 2%;
        margin-right: 5%;
    }
    main>section
    {
        flex-basis: auto;
        order:-1;
    } 

}


@media screen and (max-width:600px)
{
    footer
    {
        margin: 0px 0px 0px 0px;
        padding: 0px;
        justify-content: center;

    }
    .footer_block
    {

        margin: 0px 0px 0px 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0px;
        padding: 0px;
    }

    ul
    {
        order:-1;
    }
}



@media screen and (max-width: 865px) {
    .nav_text:nth-child(9) {
        display: none;
    }
}
@media screen and (max-width: 765px) {
    .nav_text:nth-child(8) {
        display: none;
    }
}
@media screen and (max-width: 675px) {
    .nav_text:nth-child(7) {
        display: none;
    }
}
@media screen and (max-width: 588px) {
    .nav_text:nth-child(6) {
        display: none;
    }
}
@media screen and (max-width: 520px) {
    .nav_text:nth-child(5) {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .nav_text:nth-child(4) {
        display: none;
    }
}


@media screen and (max-width: 1008px) 
{
    .left-text-header
    {
        flex: 0 0 50%; 
    }

    form input+button+div
    {
        display: none;
    }
    form input+button
    {
        display: none;
    }
    form
    {
        margin: 0px;
        padding: 0px;

        height: 28px;
        width: 25px;
        display: flex;
 
        padding: 2px 4px 1px 2px; 
        
    }
    form input
    {
        display: none;
    }
}

@media screen and (max-width: 800px) 
{
    .left-text-header{ flex: 0 0 70%;}

    .icons-header, .add { display: none; }
    form+div{ display: none; }

    .icons-header-last{ margin-left: 8px; }
}

@media screen and (max-width: 500px) 
{
    html,body
    {
        background-color: rgb(22, 27, 34);
    }
}



@media screen and (max-width: 900px) 
{
    .for-imgH img
    {
        margin: 0px;
        padding-right: 8px;
    }
    .text-and-imgH 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0px;
        padding-top: 4.5px;
    }
    .text-and-imgH span:nth-child(1) 
    {
        margin-left: 2px;  
        font-size: 12px;
        color: rgb(146, 155, 167);
        font-weight:500;

    }
}

















.aside-text
{
    padding-top: 35px;
    padding-left: 5px;
    font-size: 16px;
}


footer
{
    position: absolute;
    bottom: 0;

    /* width: 84%; */
    height: 95px;
    /* background-color: #2d304658; */

    display: flex;
    align-content: center;
    /* justify-content: center; */

    


    padding-bottom: 18px;
    margin-left: 112px;



    border-top: 1px solid rgba(33, 38, 45, 0.408);

   
    /* background-color: aqua; */

}
.footer_text
{
    margin-left: 0px;
    float: left;
    
    font-size: 12px;


    padding-left: 43px;
    
    
    list-style-type: none;
}
.footer_block
{
    margin-left: 0px;

    /* margin-left: 72px; */
    
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding-top: 6px;
    
}



/* h1,h2,h3
{
    margin-top: 0px;
    font-style: normal;
    font-size: 20px;
}

p
{
    padding-top: 10px;
    padding-left: 5px;
} */

hr
{
    border: 1px solid rgba(48, 54, 61, 0.557)
}
.hrfooter
{
    margin: 0;
    margin-left: 115px;
    margin-right: 130px;
}




.thumbnails 
{
    display: flex;
    margin: 0px;
    padding: 20px;
}


.thumbnail 
{
    width: 100px;
    height: 20px;
    display: flex;
    /* padding: 20px; */
    align-items: center;
}



.img-footer
{
    opacity: 0.7;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    align-items: center;
}
.for-img-text
{ 
    opacity: 0.6;
    color: rgb(211, 223, 240);
    /* width: 165px; */

    font-family:inherit ;
    font-size: 12px;

    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center;

    font-weight: lighter;

    margin: 0px;

    margin-right: 32px;
}


.aclass
{
    color: rgb(74, 119, 255);
    text-decoration: none;
}

.aclass:hover
{
    text-decoration:underline;
}
 