@model User

@{
    ViewData["Title"] = "Registration";
}

<div class="d-flex flex-column mx-auto justify-content-center align-items-center" style="width: 20em;">
    <h1>Registration</h1>
    <form asp-controller="Home" asp-action="Registration" class="p-3 shadow" style="max-width: 20em;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger d-block"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger d-block"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="Password" class="text-danger d-block"></span>
        </div>

        <input type="submit" value="Sign up" class="btn btn-primary mt-3 w-100" />
    </form>
</div>


