.card 
{
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 30px;
  padding-left: 15px;
}
  

  
.card>* 
{
  border: 1px solid rgba(164, 164, 164, 0.71);
  background-color: azure;
  padding: 15px 10px;
  margin: 5px ;
  width: 90px;
  text-align: center;
}
  
.card>*:not(:last-child) { margin-right: 30px; }
  
.card button 
{
  border-radius: 50px;
  width: 50px;
  background-color: cornflowerblue;
  border: 0px;
}

.card button:hover 
{
  cursor: grab;
  background-color: rgb(54, 111, 218);
}
  
  
.card button:active { cursor: grabbing; }