.container 
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    
}
    
.header
{ 
    grid-area: 1 / 2 / 3 / 5; 
    background-color: rgb(255, 72, 0);
   
}
.menu
{ 
    grid-area: 3 / 2 / 6 / 3; 

    background-color: rgb(255, 187, 0);

}
.main
{ 
    grid-area: 3 / 3 / 5 / 4; 
    
    background-color: rgb(0, 191, 255);

}
.righr
{ 
    grid-area: 3 / 4 / 5 / 5; 
    
    background-color: rgb(0, 255, 68);

}
.footer
{ 
    grid-area: 5 / 3 / 6 / 5; 
    
    background-color: rgb(111, 0, 255);

}