.container 
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    
}
    
.header
{ 
    grid-area: 1 / 2 / 2 / 5; 
    background-color: rgb(255, 72, 0);
   
}
.menu
{ 
    grid-area: 2 / 2 / 5 / 3; 

    background-color: rgb(255, 187, 0);

}


a
{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
    border: 2px solid transparent;
}
a:hover
{
    background-color: rgba(0, 255, 21, 0.449);
    border-bottom: 2px solid rgba(105, 105, 105, 0.5);
}
.main
{ 
    grid-area: 2 / 3 / 4 / 4; 
    
    background-color: rgb(0, 191, 255);

}
.righr
{ 
    grid-area: 2 / 4 / 4 / 5; 
    
    background-color: rgb(0, 255, 68);

}
img
{
    width: 300px;
    height: 100px;
    padding: 2px;
}

.footer
{ 
    grid-area: 5 / 3 / 4 / 5; 
    
    background-color: rgb(111, 0, 255);

}