* {

    box-sizing: border-box;
}

body {

    margin: 0%;
    padding: 0%;
}

#content {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@font-face {
    font-family: Youtube-Sans-med;
    src: url(fonts/youtube-sans-medium.ttf);

    font-family: Youtube-Sans-light;
    src: url(fonts/youtube-sans-light.ttf);

    font-family: Youtube-Sans-bold;
    src: url(fonts/youtube-sans-bold.ttf);
}

.content-style {

    font-family: Youtube-Sans-med;
    font-size: 2em;
    color: black;
}

#header {

    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.7);
}

#header-menu {

    width: 0.8em;
    height: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2.5%;
}

div#header-menu img {

    width: inherit;
    height: inherit;
    color: whitesmoke;
}

div#header-menu:hover {

    background-color: grey;
    border-radius: 50%;
}

#header-logo {

    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5%;
}

div#header-logo img {

    width: inherit;
    height: inherit;
}

#main {

    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1%;
}

#vid-content {

    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 1.25%;
}

#vid-container {

    width: 100%;
    height: 60%;
    margin-bottom: 0.5%;
}

#description-conatiner {

    width: 100%;
    height: 40%;
    margin-top: 0.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div#vid-container video {

    width: inherit;
    height: inherit;
}

.descript-props {

    width: 100%;
    height: auto;
    padding: 1%;
}

#descript-name {

    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}

div#descript-name span {

    font-family: Youtube-Sans-bold;
    font-size: 0.5em;
    color: black;
}

#author-cont {

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 1%;
    margin-left: 0.75%;
}

#pfp {

    width: 0.8em;
    height: 0.8em;
    background-color: grey;
    border-radius: 50%;
}

#nickname-subs {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-left: 0.75%;
}

div#nickname-subs span {

    font-family: Youtube-Sans-light;
    color: grey;
    font-size: 0.4em;
}

#decription {

    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.25%;
    margin-top: 1.5%;
}

div#decription span {

    font-size: 0.3em;
    font-family: Youtube-Sans-med;
}

#other-vids {

    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 1.25%;
}

#other-vid-preview {

    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    margin-top: 1.25%;
    margin-bottom: 1.25%;
}

div#other-vid-preview iframe 
{
    width: 50%;
    height: 70%;
    margin-right: 1.25%;
}

#other-vid-preview-descript {

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow:hidden;
}

div#other-vid-preview-descript span {

    font-size: 0.5em;
    font-family: Youtube-Sans-bold;
}