<div class="container">
    <h1>Angular </h1>
    <h2>Syntax, Data Binding, Directives, Pipes</h2>
    <main>
      <nav>
        <h3>Directives</h3>
        <h4>Attributive directives</h4>
        <a routerLink="/" routerLinkActive="active">01_ngClass</a>
        <a routerLink="ngStyle" routerLinkActive="active">02_ngStyle</a>
        <h4>Structure directives</h4>
        <a routerLink="ngIf" routerLinkActive="active">03_*ngIf</a>
        <a routerLink="ngSwith" routerLinkActive="active">04_ngSwith</a>
        <a routerLink="ngFor" routerLinkActive="active">05_*ngFor</a>
        <a routerLink="templates-directives" routerLinkActive="active four">06_templates directives</a>
        <a routerLink="directive-container" routerLinkActive="active four">07_ng-container</a>
        <a routerLink="template-outlet" routerLinkActive="active four">08_*ngTemplateOutlet</a>
        <h3>Pipes</h3>
        <a routerLink="pipes-str-num" routerLinkActive="active">09_pipes Strings&Numbers</a>
        <a routerLink="pipes-dates" routerLinkActive="active">10_pipes Dates</a>
        <a routerLink="pipes-other" routerLinkActive="active">11_pipes Other</a>

      </nav>
      <div class="examples">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
